<!DOCTYPE HTML>
<html>
<head>
    <title>Serving Web Content of EPOCH</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div><h3>Hello, user of demo version EPOCH</h3></div>
<img src="1.png">
<div></div>
<a href="/main">Main page</a>
</body>
</html>